{
  "type": "service_account",
  "project_id": "bronzx",
  "private_key_id": "REPLACE_WITH_YOUR_OWN",
  "private_key": "-----BEGIN PRIVATE KEY-----\nREPLACE_WITH_YOUR_OWN\n-----END PRIVATE KEY-----\n",
  "client_email": "REPLACE@bronzx.iam.gserviceaccount.com",
  "client_id": "REPLACE_WITH_YOUR_OWN",
  "token_uri": "https://oauth2.googleapis.com/token"
}
